In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [62]:
df = pd.read_csv("fr-esr-parcoursup-enseignements-de-specialite-bacheliers-generaux-2.csv", delimiter=';')

In [40]:
for col in ['Année du Baccalauréat', 'Formation']:
    print(df[col].unique())
    print(f"{col}:count of unique ",df[col].nunique())

[2021 2022 2023]
Année du Baccalauréat:count of unique  3
['Licence Chimie' 'Licence Langues et littératures françaises'
 'Licence Philosophie, Epistémologie' 'Licence Physique'
 'Licence Pluri Droit - Sciences éco - AES' 'Licence Pluri Langues'
 'Licence Pluri Lettres - Sciences du langage - Arts'
 'Licence Pluri Sciences fondamentales et applications'
 'Licence Psychlogie, Sciences cognitives'
 'Licence Sciences de la vie, biologie, santé'
 'Licence Sciences du langage - Linguistique' 'Licence L.AS' 'BTS Service'
 "Ecoles d'ingénieurs" "Formations d'ART" 'DCG'
 'Formations des écoles nationales vétérinaires' 'Licence AES'
 'Licence MASS' 'Licence Physique et chimie' 'Licence Pluri Sciences'
 'Licence Sciences de l information et de la communication'
 'Licence Sciences de l éducation' 'Licence Sciences économiques' 'CPGE L'
 'D.E  social' 'D.E sanitaire' 'DEUST' 'Sciences po'
 'Ensemble des bacheliers' 'Licence Histoire' 'Licence LEA'
 'Licence Sciences de gestion' 'Licence Sociologie, Démographie'
 'BUT Service' 'CPGE ECG' 'Ecoles de Commerce'
 'Licence Sciences politiques' 'BUT Production' 'CPGE S'
 'Licence Génie civil' 'Licence Géographie'
 'Licence Mécanique, Génie mécanique, Ingénierie mécanique'
 'Licence Informatique' 'Licence Langues et littératures étrangères'
 'Licence Mathématiques' 'Licence Mathématiques et informatique'
 'Licence Pluri Lettres - Langues - Sciences humaines'
 'Licence Pluri Sciences de la vie, de la santé, de la terre et de l univers'
 'Licence Pluri Sciences humaines et sociales'
 'Licence Sciences de l univers, de la terre, de l espace'
 'BTS Production' 'Licence Electronique, Génie électrique, EEA'
 'Licence Formation générale aux métiers de l ingénieur'
 'Licence Pluri Sciences économiques - Gestion'
 'Licence Sciences et technologies industrielles' 'Licence Arts'
 'Licence Sciences juridiques' 'Autres formations'
 'Licence Sciences religieuses' 'BTS Agricole' 'PASS' 'CUPGE'
 'Licence STAPS' 'Licence Archéologie, Ethno, Préhistoire, Anthropologie']
Formation:count of unique  65

In [63]:
df.shape

(12610, 6)

In [42]:
df.head()

,Année du Baccalauréat,Enseignements de spécialité,Formation,Nombre de candidats bacheliers ayant confirmé au moins un vœu,Nombre de candidats bacheliers ayant reçu au moins une proposition d'admission,Nombre de candidats bacheliers ayant accepté une proposition d'admission
0,2021,"Art,Art",Licence Chimie,0,0.0,0
1,2021,"Art,Art",Licence Langues et littératures françaises,0,0.0,0
2,2021,"Art,Art","Licence Philosophie, Epistémologie",0,0.0,0
3,2021,"Art,Art",Licence Physique,0,0.0,0
4,2021,"Art,Art",Licence Pluri Droit - Sciences éco - AES,0,0.0,0

In [43]:
df.isna().sum()

Année du Baccalauréat                                                             0
Enseignements de spécialité                                                       0
Formation                                                                         0
Nombre de candidats bacheliers ayant confirmé au moins un vœu                     0
Nombre de candidats bacheliers ayant reçu au moins une proposition d'admission    0
Nombre de candidats bacheliers ayant accepté une proposition d'admission          0
dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12610 entries, 0 to 12609
Data columns (total 6 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   Année du Baccalauréat                                                           12610 non-null  int64
 1   Enseignements de spécialité                                                     12610 non-null  object
 2   Formation                                                                       12610 non-null  object
 3   Nombre de candidats bacheliers ayant confirmé au moins un vœu                   12610 non-null  int64
 4   Nombre de candidats bacheliers ayant reçu au moins une proposition d'admission  12610 non-null  float64
 5   Nombre de candidats bacheliers ayant accepté une proposition d'admission        12610 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 591.2+ KB

In [45]:
df.nunique()

Année du Baccalauréat                                                                3
Enseignements de spécialité                                                         73
Formation                                                                           65
Nombre de candidats bacheliers ayant confirmé au moins un vœu                     1729
Nombre de candidats bacheliers ayant reçu au moins une proposition d'admission    1326
Nombre de candidats bacheliers ayant accepté une proposition d'admission           843
dtype: int64

In [64]:
df['Année du Baccalauréat'].unique()

array([2021, 2022, 2023], dtype=int64)

In [65]:
# Supprimer les lignes où la colonne 'Formation' est égale à 'Ensemble des bacheliers'
df = df[df['Formation'] != 'Ensemble des bacheliers']

In [66]:
# Supprimer les colonnes 'Nombre de candidats bacheliers ayant confirmé au moins un vœu' et 'Nombre de candidats bacheliers ayant reçu au moins une proposition d'admission'
df = df.drop(columns=["Nombre de candidats bacheliers ayant confirmé au moins un vœu", "Nombre de candidats bacheliers ayant reçu au moins une proposition d'admission"])

In [67]:
df.head()

,Année du Baccalauréat,Enseignements de spécialité,Formation,Nombre de candidats bacheliers ayant accepté une proposition d'admission
0,2021,"Art,Art",Licence Chimie,0
1,2021,"Art,Art",Licence Langues et littératures françaises,0
2,2021,"Art,Art","Licence Philosophie, Epistémologie",0
3,2021,"Art,Art",Licence Physique,0
4,2021,"Art,Art",Licence Pluri Droit - Sciences éco - AES,0

In [68]:
# Renommer la colonne 'Nombre de candidats bacheliers ayant accepté une proposition d'admission' en 'nb_acceptation'
df = df.rename(columns={"Nombre de candidats bacheliers ayant accepté une proposition d'admission": 'nb_acceptation'})

In [70]:
df.head()

,Année du Baccalauréat,Enseignements de spécialité,Formation,nb_acceptation
0,2021,"Art,Art",Licence Chimie,0
1,2021,"Art,Art",Licence Langues et littératures françaises,0
2,2021,"Art,Art","Licence Philosophie, Epistémologie",0
3,2021,"Art,Art",Licence Physique,0
4,2021,"Art,Art",Licence Pluri Droit - Sciences éco - AES,0

In [71]:
# Calculer le total des nb_acceptation par Année et Formation
totals = df.groupby(['Année du Baccalauréat', 'Formation'])['nb_acceptation'].transform('sum')

# Calculer le pourcentage de nb_acceptation par Spé au sein de chaque groupe Année, Formation
df['pourcentage_acceptation_grFormation'] = (df['nb_acceptation'] / totals) * 100

In [72]:
df.tail()

,Année du Baccalauréat,Enseignements de spécialité,Formation,nb_acceptation,pourcentage_acceptation_grFormation
12605,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Histoire,7,0.070042
12606,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Langues et littératures étrangères,5,0.047874
12607,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Physique,0,0.000000
12608,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Pluri Langues,0,0.000000
12609,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Sciences juridiques,7,0.021469

In [73]:
# Calculer le total des nb_acceptation par Année et Spé
totals = df.groupby(['Année du Baccalauréat', 'Enseignements de spécialité'])['nb_acceptation'].transform('sum')

# Calculer le pourcentage de nb_acceptation par Spé au sein de chaque groupe Année, Formation
df['pourcentage_acceptation_grSpé'] = (df['nb_acceptation'] / totals) * 100

In [74]:
df.tail()

,Année du Baccalauréat,Enseignements de spécialité,Formation,nb_acceptation,pourcentage_acceptation_grFormation,pourcentage_acceptation_grSpé
12605,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Histoire,7,0.070042,0.715746
12606,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Langues et littératures étrangères,5,0.047874,0.511247
12607,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Physique,0,0.000000,0.000000
12608,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Pluri Langues,0,0.000000,0.000000
12609,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Sciences juridiques,7,0.021469,0.715746

In [77]:
df['Enseignements de spécialité'] = df['Enseignements de spécialité'].str.replace(
    'Histoire-Géographie, Géopolitique et Sciences politiques',
    'Histoire-Géographie Géopolitique et Sciences politiques'
)

In [78]:
df['Enseignements de spécialité'] = df['Enseignements de spécialité'].str.replace(
    'Humanités, Littérature et Philosophie',
    'Humanités Littérature et Philosophie'
)

In [79]:
df['Enseignements de spécialité'] = df['Enseignements de spécialité'].str.replace(
    'Langues, littératures et cultures étrangères et régionales',
    'Langues littératures et cultures étrangères et régionales'
)

In [80]:
df['Enseignements de spécialité'] = df['Enseignements de spécialité'].str.replace(
    'Éducation physique, pratiques et culture sportives',
    'Éducation physique pratiques et culture sportives'
)

In [81]:
# Diviser la colonne 'Enseignements de spécialité' en utilisant la virgule comme délimiteur
split_columns = df['Enseignements de spécialité'].str.split(',', expand=True)

# Renommer les nouvelles colonnes
split_columns.columns = [f'Spé_{i+1}' for i in split_columns.columns]

# Concaténer les nouvelles colonnes avec le DataFrame original
df = pd.concat([df, split_columns], axis=1)

In [82]:
df.tail()

,Année du Baccalauréat,Enseignements de spécialité,Formation,nb_acceptation,pourcentage_acceptation_grFormation,pourcentage_acceptation_grSpé,Spé_1,Spé_2
12605,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Histoire,7,0.070042,0.715746,Sciences de la vie et de la Terre Spécialité,Éducation physique pratiques et culture sportives
12606,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Langues et littératures étrangères,5,0.047874,0.511247,Sciences de la vie et de la Terre Spécialité,Éducation physique pratiques et culture sportives
12607,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Physique,0,0.000000,0.000000,Sciences de la vie et de la Terre Spécialité,Éducation physique pratiques et culture sportives
12608,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Pluri Langues,0,0.000000,0.000000,Sciences de la vie et de la Terre Spécialité,Éducation physique pratiques et culture sportives
12609,2023,"Sciences de la vie et de la Terre Spécialité,É...",Licence Sciences juridiques,7,0.021469,0.715746,Sciences de la vie et de la Terre Spécialité,Éducation physique pratiques et culture sportives

In [83]:
# Exporter le DataFrame en fichier CSV
df.to_csv('formation_spé_pourcentage.csv', index=False)

In [76]:
df.shape

(12416, 6)

In [33]:
# Classer les spécialités par 'Année', 'Formation' en fonction de 'Nb_Admis'
df['rang'] = df.groupby(['Année du Baccalauréat', 'Formation'])["Nombre de candidats bacheliers ayant accepté une proposition d'admission"].rank(ascending=False, method='first')

In [49]:
df.shape

(12416, 6)

In [34]:
# Filtrer les lignes où le 'Rang' est <= 10 par 'Année', 'Formation' et 'Spé'
df_filtered = df[df['rang'] <= 10]

In [36]:
df_filtered.shape

(1950, 7)

In [37]:
# Exporter le DataFrame en fichier CSV
df_filtered.to_csv('formation_Top10spé.csv', index=False)

In [13]:
df_2021_22 = df[df['Année du Baccalauréat'].isin([2021, 2022])]

In [14]:
df_2021_22['Année du Baccalauréat'].unique()

array([2021, 2022], dtype=int64)

In [16]:
df_2021_22.shape

(7995, 6)

In [17]:
df_2021_22.head()

,Année du Baccalauréat,Enseignements de spécialité,Formation,Nombre de candidats bacheliers ayant confirmé au moins un vœu,Nombre de candidats bacheliers ayant reçu au moins une proposition d'admission,Nombre de candidats bacheliers ayant accepté une proposition d'admission
0,2021,"Art,Art",Licence Chimie,0,0.0,0
1,2021,"Art,Art",Licence Langues et littératures françaises,0,0.0,0
2,2021,"Art,Art","Licence Philosophie, Epistémologie",0,0.0,0
3,2021,"Art,Art",Licence Physique,0,0.0,0
4,2021,"Art,Art",Licence Pluri Droit - Sciences éco - AES,0,0.0,0

In [20]:
# Classer les spécialités par 'Année', 'Formation' en fonction de 'Nb_Admis'
df_2021_22['rang'] = df_2021_22.groupby(['Année du Baccalauréat', 'Formation'])["Nombre de candidats bacheliers ayant accepté une proposition d'admission"].rank(ascending=False, method='first')

C:\Users\dpasq\AppData\Local\Temp\ipykernel_18296\1330071978.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021_22['rang'] = df_2021_22.groupby(['Année du Baccalauréat', 'Formation'])["Nombre de candidats bacheliers ayant accepté une proposition d'admission"].rank(ascending=False, method='first')

In [21]:
df_2021_22

,Année du Baccalauréat,Enseignements de spécialité,Formation,Nombre de candidats bacheliers ayant confirmé au moins un vœu,Nombre de candidats bacheliers ayant reçu au moins une proposition d'admission,Nombre de candidats bacheliers ayant accepté une proposition d'admission,rang
0,2021,"Art,Art",Licence Chimie,0,0.0,0,32.0
1,2021,"Art,Art",Licence Langues et littératures françaises,0,0.0,0,45.0
2,2021,"Art,Art","Licence Philosophie, Epistémologie",0,0.0,0,35.0
3,2021,"Art,Art",Licence Physique,0,0.0,0,28.0
4,2021,"Art,Art",Licence Pluri Droit - Sciences éco - AES,0,0.0,0,10.0
...,...,...,...,...,...,...,...
11693,2022,"Sciences de la vie et de la Terre Spécialité,S...","Licence Psychlogie, Sciences cognitives",15,6.0,3,44.0
11694,2022,"Sciences de la vie et de la Terre Spécialité,S...",Licence STAPS,51,37.0,20,35.0
11695,2022,"Sciences de la vie et de la Terre Spécialité,S...","Licence Sciences de la vie, biologie, santé",56,30.0,7,17.0
11696,2022,"Sciences de la vie et de la Terre Spécialité,S...",BUT Production,76,38.0,20,30.0
11697,2022,"Sciences de la vie et de la Terre Spécialité,S...",BTS Agricole,20,17.0,8,22.0

In [22]:
# Filtrer les lignes où le 'Rang' est <= 10 par 'Année', 'Formation' et 'Spé'
df_2021_22_filtered = df_2021_22[df_2021_22['rang'] <= 10]

In [23]:
df_2021_22_filtered.shape

(1300, 7)

In [24]:
df_2021_22_filtered.head()

,Année du Baccalauréat,Enseignements de spécialité,Formation,Nombre de candidats bacheliers ayant confirmé au moins un vœu,Nombre de candidats bacheliers ayant reçu au moins une proposition d'admission,Nombre de candidats bacheliers ayant accepté une proposition d'admission,rang
4,2021,"Art,Art",Licence Pluri Droit - Sciences éco - AES,0,0.0,0,10.0
7,2021,"Art,Art",Licence Pluri Sciences fondamentales et applic...,0,0.0,0,3.0
16,2021,"Art,Art",Formations des écoles nationales vétérinaires,0,0.0,0,6.0
34,2021,"Art,Humanités, Littérature et Philosophie",Licence Langues et littératures françaises,1097,838.0,234,6.0
36,2021,"Art,Humanités, Littérature et Philosophie","Licence Philosophie, Epistémologie",544,398.0,89,5.0

In [25]:
# Exporter le DataFrame en fichier CSV
df_2021_22_filtered.to_csv('formation_Top10spé_2021_22.csv', index=False)

In [26]:
df_2023 = df[df['Année du Baccalauréat'].isin([2023])]

In [27]:
df_2023['Année du Baccalauréat'].unique()

array([2023], dtype=int64)

In [28]:
df_2023.shape

(4615, 6)

In [29]:
df_2023.head()

,Année du Baccalauréat,Enseignements de spécialité,Formation,Nombre de candidats bacheliers ayant confirmé au moins un vœu,Nombre de candidats bacheliers ayant reçu au moins une proposition d'admission,Nombre de candidats bacheliers ayant accepté une proposition d'admission
1607,2023,"Art,Art",BTS Service,0,0.0,0
1608,2023,"Art,Art",BUT Production,0,0.0,0
1609,2023,"Art,Art",BUT Service,0,0.0,0
1610,2023,"Art,Art",CUPGE,0,0.0,0
1611,2023,"Art,Art",DEUST,0,0.0,0

In [30]:
# Classer les spécialités par 'Année', 'Formation' en fonction de 'Nb_Admis'
df_2023['rang'] = df_2023.groupby(['Année du Baccalauréat', 'Formation'])["Nombre de candidats bacheliers ayant accepté une proposition d'admission"].rank(ascending=False, method='first')

C:\Users\dpasq\AppData\Local\Temp\ipykernel_18296\307878724.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['rang'] = df_2023.groupby(['Année du Baccalauréat', 'Formation'])["Nombre de candidats bacheliers ayant accepté une proposition d'admission"].rank(ascending=False, method='first')

In [31]:
# Filtrer les lignes où le 'Rang' est <= 10 par 'Année', 'Formation' et 'Spé'
df_2023_filtered = df_2023[df_2023['rang'] <= 10]

In [ ]:
# Exporter le DataFrame en fichier CSV
df_2023_filtered.to_csv('formation_Top10spé_2023.csv', index=False)