In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [11]:
df_spe = pd.read_csv("fr-esr-parcoursup-enseignements-de-specialite-bacheliers-generaux-2.csv", delimiter=';')

In [12]:
df_spe.head()

,Année du Baccalauréat,Enseignements de spécialité,Formation,Nombre de candidats bacheliers ayant confirmé au moins un vœu,Nombre de candidats bacheliers ayant reçu au moins une proposition d'admission,Nombre de candidats bacheliers ayant accepté une proposition d'admission
0,2021,"Art,Art",Licence Chimie,0,0.0,0
1,2021,"Art,Art",Licence Langues et littératures françaises,0,0.0,0
2,2021,"Art,Art","Licence Philosophie, Epistémologie",0,0.0,0
3,2021,"Art,Art",Licence Physique,0,0.0,0
4,2021,"Art,Art",Licence Pluri Droit - Sciences éco - AES,0,0.0,0

In [13]:
df_map = pd.read_csv("mapping_colonnes_formation.csv", delimiter=';')

In [16]:
df_map.head()

       formation_spe       formation_1
0  Autres formations               XXX
1       BTS Agricole    BTS - Agricole
2     BTS Production  BTS - Production
3        BTS Service    BTS - Services
4     BUT Production  BUT - Production